body {
	background-color: #232323;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
}

.container {
	margin: 0 auto;
	max-width: 600px;
}

h1 {
	height: 50px;
	background: #708090;
	text-align: center;
	color: #F5F5F5;
	font-family: Audiowide;
	text-transform: capitalize;
	letter-spacing: 2px;
	height: 100px;
}

#messageContainer{
	text-align: center;
	color: black;
	font-family: Audiowide;
	background-color: white;
	height: 30px;
}

.hoveron {
	transform: translate(5px, 5px);
	transition-duration: 0.2s;
	transition-timing-function: linear;
	/*transition-delay: 0.5s;*/
}

#newColors {
	font-family: Audiowide;
	font-weight: 300;
}

#easyMode {
	font-family: Audiowide;
	font-weight: 300;
}

#hardMode {
	font-family: Audiowide;
	font-weight: 300;
}

.selected {
	background-color: #98FB98;
}